<div class="container">
	<h1>About</h1>
	<p>This website documents all of the notable deaths that has occurred so far in Game of Thrones. The times presented are not necessarily the exact moment of a character’s death, but rather, a more appropriate time for added context. </p>
	
	
	<div id="other">
		<p id="fan">*This is a fan made website and is not associated with or endorsed by HBO</p>
		
	</div>
	<div id="rails_div">
		<%= image_tag("Ruby_on_Rails.svg", :alt => "rails", id:"rails_logo") %>
		
	</div>
		

	
</div>

