<div class="container">
	<div id="about">
		<h1>About</h1>
		<p>This website documents all of the notable deaths that has occurred in Game of Thrones, thus far. The times shown are taken starting from the HBO logo. In an effort to give more contexts, the times presented are not necessarily the exact moment of a character’s death. </p>
		
		
		<div id="other">
			<p id="fan">*This is a fan made website and is not associated with or endorsed by HBO</p>
			
		</div>
		<div id="rails_div">
			<%= image_tag("Ruby_on_Rails.svg", :alt => "rails", id:"rails_logo") %>
			
		</div>
	</div>

	
</div>

