<div class = "fill">	
	<%= render 'layouts/disclaimer' %>
	<!-- decending -->
	<%= render 'got_seasons/desc' %>
	
	<!--assending-->
	<%= render 'got_seasons/asc' %>
	
	<!--sidebar-->
	<div class="dots">

		<div class="direction_toggle" >
			<div class="toggle_circle"></div>
			<!-- <p class="state state1">A<br>S<br>C</p>
			<p class="state state2">D<br>E<br>S<br>C</p> -->
		</div>
		<div class="circle dis"></div>
		<div class="circle one"></div>
		<div class="circle two"></div>
		<div class="circle three"></div>
		<div class="circle four"></div>
		<div class="circle five"></div>
	</div>
	<div class="clear"></div>

</div>