
$darkred: #9A1408;
$lightred: #B32B1B;
$cloud: #ecf0f1;
$silver: #bdc3c7;
$darkgray: #1c1d1e;

@media screen and (min-width: 768px){
	.see{
		width: 96%;
	}
	.time{
		width: 60px;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;		
	}
	.show_death{
		width: 85%;
		float: right;

	}
	.house{
		display: inline-block;
		float: right;
		font-size: 1.15em;
		border: 1px solid $cloud;
		border-radius: 5px;
		margin-right: 5%;
		padding: 0 4px;

	}

	.Stark{
		border-color: #868887;
		color: #868887;
		background-color: $cloud;
	}

	.Baratheon{
		border-color: #1A1813;
		color: #1A1813;
		background-color: #fcaa00;
	}
	.levels{
		width: 108px;
		margin-right: 5%;
	}
	.importance{
		width: 22px;
		height: 22px;
		margin: 0 5px;
	}

}

@media screen and (min-width: 995px){
	.see{
		width: 97%;
	}
	.show_death{
		width: 90%;
		float: right;

	}
	.time{
		width: 60px;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;

		
	}
	.info{
		float: right;
		width: 90%;
	}
	.dots{
		width: 3%;
	}
	
	.imdb{
		font-size: 0.75em;
		display: inline-block;
		font-family: impact;
		border: 1px solid $silver;
		border-radius: 3px;
		color: $cloud;

		// margin: 0 0 6px 2.5%;
		padding:  1.5px 3px 2px 3px;


		float: right;
		margin: 0 6px 6px 0;


		&:hover{
				color: #f1c40f;
				border: 1px solid #f1c40f;
		}

	}

	.wikia{
		font-size: 0.8em;
		display: inline-block;
		border: 1px solid $silver;
		border-radius: 3px;
		color: $cloud;
		font-weight: bold;

		// margin: 0 0 6px 4px;
		padding:  2.5px 3px 0px 3px;
		
		margin: 0 6px 6px 0;

		float: right;
		&:hover{
				color: #2980b9;
				border: 1px solid #2980b9;
		}

	}
	.wikipedia{
		font-family: HoeflerText;
		font-size: 0.8em;
		display: inline-block;
		border: 1px solid $silver;
		border-radius: 3px;
		color: $cloud;

		// margin: 0 0 6px 4px;
		padding:  2px 3px 1px 3px;

		float: right;
		margin: 0 4% 6px 0;

		
		&:hover{
				color: #95a5a6;
				border: 1px solid #95a5a6;
		}
	}
	.dropper{
		display: none;
	}

}