<div id="spoiler">
	<div id="box" >
		<div id="msg">
			
			<h1>Warning</h1>
			<h2>This contains Game of Thrones spoilers</h2>
			<h2>Seasons 1 - 5</h2>
			<div id="up">
				<i class="fa fa-angle-double-down fa-4x"></i>
			</div>
		</div>
	</div>
</div>